
table {
    border-spacing: 3em 1em;
    margin-left: auto;
    margin-right: auto;
}

.book-table {
    margin-top: 3em;
}

.book-table-message {
    text-align: center;
    font-size: 1.5em;
}

td {
    word-wrap: break-word;
    max-width: 300px;
}

th {
    text-align: left;
}

th {
    padding-bottom: 1em;
}

td:nth-child(1) {
    font-weight: 550;
}

td:nth-child(2) {
    font-style: italic;
}

svg {
    color: rgba(0, 0, 0, 0.6);
}